* {
  margin: 0px;
  padding: 0px;
}

:root{
  --bg-color: #F8F8FB;
  --primary-color: #7C5DFA;
  --primary-color-light: #9277FF;
  --secondary-color: #7E88C3;
  --text-color: #0C0E16;
  --text-color-light: #888EB0;
  --success-color: #33D69F;
  --success-bg-color: rgba(51, 214, 159, 0.057);
  --warning-color: #FF8F00;
  --warning-bg-color: rgba(255, 143, 0, 0.057);
  --draft-bg-color: rgba(55, 59, 83, 0.057);
  --draft-color: #373B53;
  --error-color: #EC5757;
  --error-color-light: #ff9797;
  --dark-color-light: #1E2139;
  --dark-color: #252945;
  --button-text-color: #FFFFFF;
  --dark-button-bg-color: #373B53;
  --dark-button-text-color: var(--text-color-light);
  --dark-button-hover-bg-color: #0C0E16;
  --light-button-bg-color: #F9FAFE;
  --light-button-text-color: var(--secondary-color);
  --light-button-hover-bg-color: #DFE3FA;
  --light-button-hover-text-color: var(--text-color);

  --invoice-card-bg-color: #FFFFFF;

  --spartan-font: "League Spartan", sans-serif;
}

.dark_mode{
  --bg-color: #141625;
  --text-color: #FFFFFF;
  --text-color-light: #DFE3FA;
  --dark-button-hover-bg-color: var(--dark-color-light);
  --light-button-bg-color: var(--dark-color);
  --light-button-text-color: #DFE3FA;
  --light-button-hover-bg-color: #FFFFFF;
  --light-button-hover-text-color: #DFE3FA;
  --draft-bg-color: rgba(223, 227, 250, 0.057);
  --draft-color: #DFE3FA;

  --invoice-card-bg-color: #1E2139;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--spartan-font);
}

main ::slotted([state="active"]) {
  visibility: visible;
}

html {
  font-size: 10px;
}

.title {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: -0.1rem;
}